.container {
    &-dashboard,
    &-login {
        display: flex;
        justify-content: center;
    }

    &-dashboard {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
    }

    &-login {
        align-items: center;
        height: 100vh;
    }
}