$font-primary: #000;

.dashboard-search {
    margin: 1rem;
    padding: 0.5rem;
}

input[type=text] {
    width: 10%;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 4fr);
    grid-gap: 1rem;
    padding: 1rem;

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
        margin: 0.25rem 0;
        transition: all .2s ease-in-out;

        &:hover {
            background: #ccc;
        }

        &-img {
            height: 64px;
            width: 64px;
            margin-right: 1rem;
        }

        h2 {

        }

        h3 {
            color: lighten($font-primary, 30%);
        }
    }
}