$spotify-colour: #1DB954;

.login-btn {
    color: #fff;
    font-size: 1.4em;
    background-color: $spotify-colour;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-box-shadow: 0px 5px 15px 0px #000000; 
    box-shadow: 0px 5px 15px 0px #000000;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: darken($spotify-colour, 5%);
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 4rem;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: 1px 5px 15px 2px rgb(107, 107, 107);

        h3 {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
}